@{
    ViewBag.Title = "Customer";
}
<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<h6>@Html.ActionLink("Create", "Create", "Upload")</h6>
		<h6>@Html.ActionLink("Book Flight, Rent a car and so on...", "Create", "CustomerBookings")</h6>
		<h6>@Html.ActionLink("View Images", "ViewImage", "Upload")</h6>
	</div>
</div>