@{
	ViewBag.Title = "Visitor";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<h6>@Html.ActionLink("View Flight", "VisitorFlight", "Home")</h6>
		<h6>@Html.ActionLink("View Images", "VisitorImage", "Home")</h6>

	</div>
</div>